.Recuperar-senha{
    background-color: #93D9FA;
    min-height: 100vh;
}
.header-recuperar-senha{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-recuperar-senha{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    font-family: sans-serif;
}

.form-recuperar-senha h2{
    max-width: 383px;
    font-size: 32px;
}

.form-recuperar-senha p{
    font-size: 16px;
    max-width: 383px;
}