# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg
*.log

# Virtual env
.venv/
env/
venv/

# Django
db.sqlite3
media/
staticfiles/
*.mo

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Test/cache
**/.pytest_cache/
**/.mypy_cache/
**/.ruff_cache/
**/.coverage
.coverage*

# Node (se usar React junto neste repo)
node_modules/

# Env
.env